*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;

}
.left-section{
    display: flex;
    align-items: center;
    gap: 40px; 
 }
 .logo img{
    width: 70px;
    cursor: pointer;
 }

 .nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    color: rgb(43, 40, 40);
    cursor: pointer;
 } 

 .nav-links .dine{
    color: rgb(95, 50, 8);
    
 }

 .s-box{
   position: relative;
 }

 .s-box .box{
  
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 200px;
 }

 .s-box .i{
   position: absolute;
 }


 .right-section{
    display: flex;
    align-items: center;
    gap: 40px; 
 }

 .right-section h3{
    font-size: 15px;
    color: dimgrey;
    cursor: pointer;
 }

 .banner{
   display: block;
   width: 100%;
 }

 .menu{
    padding:50px;
    text-align: center;
    color: rgb(17, 17, 17);
    background-color: rgb(247, 236, 244);

}
.menu h3{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    /* display: inline-block; */
    margin-right: 0px;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
     gap: 50px;
    justify-items: center;
    margin-top: 20px;  
}

.menu-item img{
   cursor: pointer;

}

.menu-item p{
   cursor: pointer;
}

.BK {
  padding: 20px;
  background-color: #fdfaf3; 
  font-family: 'Arial Black', sans-serif; 
  margin-left: 60px;
  margin-top: 20px;
}

.BK h3 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

 

.BK img {
  width: 350px;
  height: auto;
  border-radius: 8px; 
  display: block;
  cursor: pointer;
  
}

/* .button{
   color: rgb(95, 50, 8) ;
   
}

.button .btn{
   text-align: center;

} */


.wall img{
   
  height: auto;
  border-radius: 8px; 
  margin-left: 150px;
  margin-top: 50px;
  cursor: pointer;

}

.wall p{
   margin-top:50px;
   font-size: small;
   text-align: center;
}

.footer{
   padding: 50px 80px 90px;
   display: flex;
   justify-content: space-between;
   background-color: rgb(100, 99, 99);
}

.footer .column h3{
   color: antiquewhite;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px ;
}

.footer .column p{
   color:rgb(199, 198, 198) ;
   font-family: Arial, Helvetica, sans-serif;
}

.footer{
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}

.footer-bottom{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(100, 99, 99);
}

.footer-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.footer-left img{
   margin-right: -50px;
}

.footer-left p{
   align-items: center;
   font-size: small;
   color: antiquewhite;
   padding-left: 90px;
  
}

.social-icons i{
   color: antiquewhite;
   margin-left: 20px;
}

.bk-logo{
    width:60px;
}

.social-icons{
    display:flex;
    gap:20px;
    font-size:20px;
}

